.homesection{
    height: 80vh;
    background-color: white;
  
  }

    .homecontent{
      margin:0px 50px;
      
    }
    /* .homecontent h2{
      margin: 10px 10px;;
    } */
    .text{
      display: flex;
      justify-content: space-between;
      width: 74%;
      
     
    }
    .t h4{
      margin-bottom: 0px;
    }
    .t p{
      margin-top: 5px;
      
    }
    .tp h5 {
        margin-top:3px;margin-bottom: 3px;
      
      
    }
    .tp h4{
        font-weight: bold; margin-bottom: 3px;margin-top:3px;font-size: medium;
    }
    .tp p{
        margin-top:3px;margin-bottom: 3px;
    }
    .method label{
  
      font-size: x-large;
      
     
    }
    .method select{
  
      margin-top: 10px;
      display: block; 
      width: 100%; 
      padding: 10px; 
      font-size: 14px; 
      font-weight:lighter; 
      border: 2px solid #ccc; 
      border-radius: 5px; 
      box-sizing: border-box; 
      background-color: #f2f2f2; 
      color: #5c5b5b; 
    
    }
    .method input{
      display: block; 
      width: 100%;
      margin-top: 10px;
      font-size: 14px; 
      font-weight: lighter; 
      padding: 10px;
      border: 2px solid #ccc; 
      border-radius: 5px; 
      box-sizing: border-box; 
      background-color: #f2f2f2;
      color: #333; 
    
    }
    
    .method{
      margin-top: 20px;
    }
    .home{
      margin-left: 150px;
      width: 40%;
  
    }
    .name{
      display: flex;
      margin-left: 15px;
      color: #333;
      margin-bottom: 0px;
      
      
    }
    .name button{
      background-color: #11ec91; 
      border: none; 
      color: green; 
      padding: 1px 0px; 
      text-align: center; 
      margin-left: 35px;
      border-radius: 3px; 
      width: 70px;
      margin: auto;
      margin-left: 35px;
  
    }
  
   .text-section p {
    margin-top: 2px;
    margin-left: 15px;
  }
  
    .box{
      
      border-width: 2px;
      border-style: solid;
      border-color: rgba(216, 216, 216, 1);
      border-radius: 8px;
      width: 500px;
      margin-left: 50px;
    }
    .check{
      margin-top: 1%;
      margin-left: 50px;
    }
    .ele{
       display: flex;
  
    }
    .imgi img{
        width: 90px;
        height: 95px;
        margin-right: 20px;
    }
    .container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    
    
    .line {
      width: 100%;
      height: 1px;
      background-color: #ccc;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    
    .subtotal, .main, .discount, .total {
      display:flex;
      align-items: center;
      margin-top: 5px;
      margin-bottom: 5px;
      font-size: small;
      margin: 0;
     
    }
    .subtotal{
      font-size: medium;
      font-weight: bold;
    }
    
    .subtotal-value, .main-value, .discount-value, .total-value {
      margin-left: auto;
      font-size: small;
    }
    
    .line:last-child {
      margin-bottom: 3;
    }
    
    .boxi {
      display: flex;
      align-items: center; 
      padding: 5px; 
      border: 1px solid #ccc; 
      border-radius: 5px; 
      box-sizing: border-box; 
      margin: 20px 20px;
    }
    
    img {
      width: 70px;  
      margin-right: 10px; 
    }
    
    .texti {
      flex: 1; 
    }
    
    .texti h4 {
      font-size: large;
      margin: 0px 0px;
      
    }
    
    .texti p {
      font-size: 16px; 
      margin: 1px 0px;
     
    }
    
    
   .pay{
    margin: 50px 50px;
    margin-top: 35px;
   }
   .payment {
    display: flex;
    flex-direction: column;
    align-items: start;
    /* margin-right: 20px; */
    justify-content: center;
    align-items: center;
  }
  
  .payment-label {
    font-size: 20px;
    font-weight: 3;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  
  .payment-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 300px;
  }
  
  .payment-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5px;
    margin-right: 20px;
  }
  
  .payment-item {
    font-size: 18px;
    font-weight: 2;
    margin-left: 10px;
    width: 100px;
  }
  
  .payment-value {
    font-size: 14px;
    font-weight: 2;
    margin-right: 20px;
  }
  
  .payment-divider {
    width: 90%;
    border-top: 1px solid #575454;
    margin-left: 10px;
    margin-right: 25px;
    
  }
  
  .payment-button {
    background-color:  rgba(46, 193, 172, 1);
    color:white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    line-height: normal;
    text-transform: none;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    
    font-family: Arial, sans-serif;
    overflow: hidden;
    border-radius: 8px;
    width: 352px;
    height: 44px;
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: none;
    font-weight: bold;
  } 