<app-nav-bar></app-nav-bar>
<div style="display:flex; flex-direction: row; margin-left: 5%;
margin-top: 1%;">  
 <div class="home">
  <div class="homecontent">
    <h2>Checkout</h2>
    <div class="text">
      <h4 style="    font-family: 'Raleway SemiBold', 'Raleway', sans-serif;
      font-weight: 600;
      font-style: normal;
      font-size: 14px;
      color: #3A3A3A;
      text-align: left;
      line-height: 21px;">Payment Check </h4>
      <h4 style="font-family: 'Raleway Bold', 'Raleway', sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: 14px;
      color: #2EC1AC;
      text-align: left;
      line-height: 21px;">User</h4>
    </div>
</div>
<div class="box">
  <div class="name">
    <h4>{{loggedUser.firstName}} {{loggedUser.lastName}}</h4> <button>User</button>
  </div>
  <div class="text-section">
    <p>{{loggedUser.telephoneNo}}</p>
    <p>{{loggedUser.address}}</p>
  </div>
  
</div>

  <div class="pay">
      <div class="t">
        <h4 style="    font-family: 'Raleway SemiBold', 'Raleway', sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 18px;
        color: #3A3A3A;
        text-align: left;
        line-height: 27px;
    ">  Your Cart
        </h4>
        <div style="margin-bottom: 10px;" *ngFor="let pendingBill of loggedUserCart;">
        <div *ngIf="findIndex(pendingBill,electricBills)" class="ele" >
          <div class="imgi">
            <img src="../../assets/images/lamp.png" alt="lamp">
          </div>
          <div class="tp">
            <h5>Electricity bill</h5>
            <p>Total of {{pendingBill.billUnits}} Kilowatts</p>
            <h4 style="font-weight: bold;">{{pendingBill.billUnits * electricUnitPrice |currency:'EGP':'code'}}</h4>
          </div>
        </div>
        <div *ngIf="findIndex(pendingBill,waterBills)" class="ele" >
          <div class="imgi">
            <img src="../../assets/images/waterTap.png" alt="waterTap">
          </div>
          <div class="tp">
            <h5 >Water bill</h5>
            <p >Total of {{pendingBill.billUnits}} Liters</p>
            <h4 >{{(pendingBill.billUnits * waterUnitPrice |currency:'EGP':'code')}}</h4>
          </div>
        </div>
        <div *ngIf="findIndex(pendingBill,telephoneBills)" class="ele" >
          <div class="imgi">
            <img src="../../assets/images/lamp.png" alt="lamp">
          </div>
          <div class="tp">
            <h5 >Electricity bill</h5>
            <p >Total of {{pendingBill.billUnits}} Kilowatts</p>
            <h4 >{{pendingBill.billUnits * electricUnitPrice |currency:'EGP':'code'}}</h4>
          </div>
        </div>
        </div>
      </div>
     <div class="method">
      <form >
        <label for="paymentmethod">payment Method</label>
        <br>
        <select name="visa" id="paymentmethod">
          <option value="visa">Visa</option>
          <option value="visa">Cash (in case you are a government organization)</option>

        </select>
        
        <label for="promocode">promo code</label>
        
        <input type="text" name="promo" id="promocode" [(ngModel)]="promo" (input)="checkPromo(promo)">
        <div *ngIf="promoValid" style="color:green; margin:4px">Promo Is Valid! </div>
      </form>
     </div>
     <div></div>
     <div class="container" >
      <div class="line"></div>
      <div class="subtotal">Sub Total</div>
      <div class="subtotal-value">{{total|currency:"EGP":'code'}}</div>
      <div class="main">Main</div>
      <div class="main-value">{{total|currency:"EGP":'code'}}</div>
      <div class="discount">Discount</div>
      <div class="discount-value">{{discount|currency:"EGP":'code'}}</div>
      <div class="total">Total to Pay</div>
      <div class="total-value">{{total|currency:"EGP":'code'}}</div>
      <div class="line"></div>
    </div>

  </div>
  </div>
  <div style="width: 20%;
  height: 20em;
  background: white;
  margin-top: 1%;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.0588235294117647);"> 
       <div class="boxi">
        <img src="../../assets/images/promo.png" alt="Promo">
        <div class="texti">
          <h4>Promo Code</h4>
          <p>Get your vouchers now</p>
        </div>
      </div>
      <div class="payment">
        <div class="payment-label">Payment</div>
        <div class="payment-details">
          <div class="payment-row">
            <div class="payment-item">Total</div>
            <div class="payment-value">{{total|currency:"EGP":'code'}}</div>
          </div>
          <div class="payment-row">
            <div class="payment-item">Discount</div>
            <div class="payment-value">{{discount|currency:"EGP":'code'}}</div>
          </div>
          <div class="payment-row">
            <div class="payment-item">Total To Pay</div>
            <div class="payment-value">{{total|currency:"EGP":'code'}}</div>
          </div>
          <hr class="payment-divider">
          <div class="payment-row">
            <div class="payment-item">Sub-total</div>
            <div class="payment-value">{{total|currency:"EGP":'code'}}</div>
          </div>
          <div class="payment-row">
            <button class="payment-button" >Pay Now</button>
          </div>
        </div>
      </div>        
  </div>
</div>

<app-footer></app-footer>