<app-nav-bar></app-nav-bar>
<div style="display:flex; flex-direction: row;">  
 <div class="home">
  <div class="homecontent">
    <h2>Checkout</h2>
    <div class="text">
      <h4 style="    font-family: 'Raleway SemiBold', 'Raleway', sans-serif;
      font-weight: 600;
      font-style: normal;
      font-size: 14px;
      color: #3A3A3A;
      text-align: left;
      line-height: 21px;">Payment Check </h4>
      <h4 style="font-family: 'Raleway Bold', 'Raleway', sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: 14px;
      color: #2EC1AC;
      text-align: left;
      line-height: 21px;">User</h4>
    </div>
</div>
<div class="box">
  <div class="name">
    <h4>{{loggedUser.firstName}} {{loggedUser.lastName}}</h4> <button>User</button>
  </div>
  <div class="text-section">
    <p>{{loggedUser.telephoneNo}}</p>
    <p>{{loggedUser.address}}</p>
  </div>
  
</div>

  <div class="pay">
      <div class="t">
        <h4 style="    font-family: 'Raleway SemiBold', 'Raleway', sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 18px;
        color: #3A3A3A;
        text-align: left;
        line-height: 27px;
    ">  Your Cart
        </h4>
        <ng-container *ngIf="loggedUserCart.length > 0"> 
        <div style="margin-bottom: 10px;" *ngFor="let pendingBill of loggedUserCart;">
        <div *ngIf="findIndex(pendingBill,electricBills)" class="ele" >
          <div class="imgi">
            <img src="../../assets/images/lamp.png" alt="lamp">
          </div>
          <div class="tp">
            <h5>Electricity bill</h5>
            <p>Total of {{pendingBill.billUnits}} Kilowatts</p>
            <h4 style="font-weight: bold;">{{pendingBill.billUnits * electricUnitPrice |currency:'EGP':'code'}}</h4>
          </div>
        </div>
        <div *ngIf="findIndex(pendingBill,waterBills)" class="ele" >
          <div class="imgi">
            <img src="../../assets/images/waterTap.png" alt="waterTap">
          </div>
          <div class="tp">
            <h5 >Water bill</h5>
            <p >Total of {{pendingBill.billUnits}} Liters</p>
            <h4 >{{(pendingBill.billUnits * waterUnitPrice |currency:'EGP':'code')}}</h4>
          </div>
        </div>
        <div *ngIf="findIndex(pendingBill,telephoneBills)" class="ele" >
          <div class="imgi">
            <img src="../../assets/images/lamp.png" alt="lamp">
          </div>
          <div class="tp">
            <h5 >Telephone Offer</h5>
            <p >Total of {{pendingBill.billUnits}} Unit</p>
            <h4 >{{pendingBill.offerValue |currency:'EGP':'code'}}</h4>
          </div>
        </div>
        </div>
      </ng-container>
      <ng-container *ngIf="loggedUserCart.length==0">
          <h2>No bills in your cart, add bills to start paying!</h2>
      </ng-container>
      </div>
<div class="method">
  <form #paymentClear="ngForm">
    <label for="paymentmethod">Payment Method</label>
    <br>
    <select name="paymentmethod" class="boxStyles" [(ngModel)]="paymentMethod" (change)="checkPaymentMethod(paymentMethod)" style="width:100%" required>
      
      <option value="visa">Visa</option>
      <option value="cash">Cash (in case you are a government organization)</option>
    </select>

    <div *ngIf="paymentMethodInvalid" style="color:red; margin:4px">Please select a valid payment method.</div>
    <br><br>
    <div *ngIf="paymentMethod === 'visa'" style="    display: flex;
    flex-direction: row;
    align-items: center">
      <label for="cardnumber">Card Number</label>
      <br>
      <input type="text" name="cardnumber" id="cardnumber" [(ngModel)]="cardNumber"
        (input)="checkCardNumber(cardNumber)" style="width: 60%;" required>
      <div *ngIf="cardNumberInvalid" style="color:red; margin:4px">Please enter a valid 16-digit card number.</div>
      <br>
      <label for="expirydate">Expiry Date</label>
      <br>
      <input type="text" name="expirydate" id="expirydate" [(ngModel)]="expiryDate"
        (input)="checkExpiryDate(expiryDate)" style="width: 60%;" required>
      <div *ngIf="expiryDateInvalid" style="color:red; margin:4px">Please enter a valid expiry date (MM/YY).</div>
      <br>
      <label for="cvv">CVV</label>
      <br>
      <input type="text" name="cvv" id="cvv" [(ngModel)]="cvv" (input)="checkCVV(cvv)" style="width: 60%;" required>
      <div *ngIf="cvvInvalid" style="color:red; margin:4px">Please enter a valid 3-digit CVV.</div>
    </div>
    <br>
    <label for="promocode" >Promo Code</label>
    <br>
    <input type="text" name="promo" class="boxStyles" [(ngModel)]="promo" (input)="checkPromo(promo)" style="width:97%">
    <div *ngIf="promoValid" style="color:green; margin:4px">Promo is valid!</div>
    <div *ngIf="promoInvalid" style="color:red; margin:4px">Invalid promo code.</div>
  </form>
</div>
     <div></div>
     <div class="container" >
      <div class="line"></div>
      <div class="subtotal">Sub Total</div>
      <div class="subtotal-value">{{total|currency:"EGP":'code'}}</div>
      <div class="main">Main</div>
      <div class="main-value">{{total|currency:"EGP":'code'}}</div>
      <div class="discount">Discount</div>
      <div class="discount-value">{{discount|currency:"EGP":'code'}}</div>
      <div class="total">Total to Pay</div>
      <div class="total-value">{{total|currency:"EGP":'code'}}</div>
      <div class="line"></div>
    </div>

  </div>
  </div>
  <div style="width: 20%;
  height: 20em;
  background: white;
  margin-top: 1%;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.0588235294117647);"> 
       <div class="boxi">
        <img src="../../assets/images/promo.png" alt="Promo">
        <div class="texti">
          <h4>Promo Code</h4>
          <p>Get your vouchers now</p>
        </div>
      </div>
      <div class="payment">
        <div class="payment-label">Payment</div>
        <div class="payment-details">
          <div class="payment-row">
            <div class="payment-item">Total</div>
            <div class="payment-value">{{total|currency:"EGP":'code'}}</div>
          </div>
          <div class="payment-row">
            <div class="payment-item">Discount</div>
            <div class="payment-value">{{discount|currency:"EGP":'code'}}</div>
          </div>
          <div class="payment-row">
            <div class="payment-item">Total To Pay</div>
            <div class="payment-value">{{total|currency:"EGP":'code'}}</div>
          </div>
          <hr class="payment-divider">
          <div class="payment-row">
            <div class="payment-item">Sub-total</div>
            <div class="payment-value">{{total|currency:"EGP":'code'}}</div>
          </div>
          <div class="payment-row">
            <button class="payment-button" [disabled]="loggedUserCart.length==0" (click)="pay(paymentClear)">Pay Now</button>
          </div>
        </div>
      </div>        
  </div>
</div>

<app-footer></app-footer>