body {
    margin: 0px;
    background-image: none;
    position: relative;
    left: 0px;
    width: 1360px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
main{
  min-height: 67vh;
}
.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

#base {
    position: absolute;
    z-index: 0;
}
/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Navigation */

/* Main Content */

/* Main container styles */
main {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
}

/* Heading styles */
.electricity-bills-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
}

.electricity-bills-section-heading {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Icon styles */
.lamp-icon {
  width: 100px;
  height: 100px;
  margin-right: 25px;
  vertical-align: middle;
}

/* Table styles */
.electricity-bills-container table {
  border-collapse: collapse;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.electricity-bills-container tr:nth-child(even) {
  background-color: #f5f5f5;
}
.table-header{
  font-family: OpenSans-Regular;
  font-size: 18px;
  line-height: 1.2;
  font-weight: unset;
  width:150px;
  text-align: center;
}

/* Button styles */
.electricity-bills-container .pay-now-button,
.electricity-bills-container .delete-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}



/* Variables */
:root {
  --primary-color: #4CAF50;
  --primary-color-hover: #3e8e41;
}

.electricity-bills-container .delete-button {
  background-color: #f44336;
}
.electricity-bills-container .delete-button:hover {
  background-color: #ff5555;
}

.empty_table{
  text-align: center;
}
