<div class="nav"> 
    <h1 class="nav-header">E-PAY</h1>
</div>
<div class="stomach">
    <div class="wallet-img">
        <img src="../../assets/images/Wallet.png" width="80%" height="50%">
    </div>
    <div class="login-form">
        <div class="form-header-container">
        <h2 class="form-header"> Welcome Back! </h2>
        </div>
        <div class="form-header-aftertext">
            <span>
                Happy to see you again! Please enter your email and password to login to your account.
            </span>
        </div>
        <form style="margin-top: 15%;">
            <input type="text" class="login-params" placeholder="Your Email">
            <br>
            <input type="password" class="login-params" placeholder="Your Password">
        </form>
        <div class="login-button">
            <a id="login-buttonID" href="">Login</a>
        </div>

    </div>
</div>
<app-footer></app-footer>