body {
    margin: 0px;
    background-image: none;
    position: relative;
    left: 0px;
    width: 1360px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

#base {
    position: absolute;
    z-index: 0;
}
/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Navigation */

/* Main Content */

/* Main container styles */
main {
    width: 63%;
    margin: 0 auto;
    padding: 20px;
    min-height: 67vh;
}

/* Heading styles */
.water-bills-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 2%;
}

.water-bills-container{
    width: 80%;
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-self: center; */
    margin: auto;
}

.water-bills-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Table styles */
.water-bills-container table {
border-collapse: collapse;
width: 150%;
margin-bottom: 2em;
}
.water-bills-container table td, table th {
    border: 1px solid black;
  }
  .water-bills-container  table tr:first-child th {
    border-top: 0;
  }
  .water-bills-container  table tr:last-child td {
    border-bottom: 0;
  }
  .water-bills-container  table tr td:first-child,
  .water-bills-container  table tr th:first-child {
    border-left: 0;
  }
  .water-bills-container table tr td:last-child,
  .water-bills-container table tr th:last-child {
    border-right: 0;
  }
  .water-bills-container table td {
    width: 1200px;
    height: 40px;
    text-align: center;
    }  
/* .water-bills-container th,
.water-bills-container td {
border: 1px solid #ccc;
padding: 8px;
text-align: left;
}

.water-bills-container th {
background-color: #f2f2f2;
font-weight: bold;
} */
/* 
Button styles */
.water-bills-container .pay-now-button {
    background-color: rgb(229 127 11);
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    padding-inline: inherit;
    padding: 4px;
    border-radius: 3px;
}



.unitsList li{
    margin-bottom: 2%;
}
.unitsList input{
    width: 3em;
    text-align: center;
    margin-right: 5px;
    border: none;
    /* border-bottom: 43px; */
    background-color: #f5f5f5;
    border-bottom: #000000de;
    border-bottom-style: inset;
    border-bottom: ridge;
}
.unitsList button{
    background-color: rgb(229 127 11);
    color: white;
    border: none;
    padding: 5px 5px;
    text-align: center;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 15px;
    font-weight: bold;
    cursor: pointer;
}




.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-dialog {
    position: absolute;
    width: 80%;
    max-width: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-height: calc(100% - 50px); 
    overflow-y: auto;
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 5px;

}

.close-button {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    outline: none;
}

.popup-body {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-body input{
    width: 40%;
    height: 3em;
    text-align: center;
    margin-right: 5px;
    border: none;
    background-color: #f5f5f5;
    border-bottom: ridge;
}

.popup-body button{
    padding: 5px 5px;
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
    background-color: rgba(46, 193, 172, 1);
    color: white;
    text-align: center;
    font-size: 17px;
    border-radius: 8px;
    font-weight: bold;
    margin-top: 2%;
    border: none;
}


.dialogLine{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 2%;
}

.unitLabel{
    margin-right: 5px;
    text-transform: capitalize;
}


.promoInput{
    width: 15%;
    text-align: center;
    margin-right: 5px;
    border: none;
    background-color: #f5f5f5;
    border-bottom: ridge;
}

.promos button{
    cursor: pointer;
    background: rgba(46, 193, 172, 1);
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(216, 216, 216, 1);
    font-weight: 700;
    font-style: normal;
    color: #FFFFFF;
    padding: 4px;
}
.popup-dialog::-webkit-scrollbar {
    width: 10px;
  }
  
  .popup-dialog::-webkit-scrollbar-thumb {
    background-color: rgb(177 177 177);
    border-radius: 5px;
  }
.service-providers{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    margin-bottom:5%
}

.provider{
    width: calc(25% - 20px);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.provider button{
    margin-top: 2%;
    align-self: center;
    cursor: pointer;
    background: rgba(46, 193, 172, 1);
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(216, 216, 216, 1);
    font-weight: 700;
    font-style: normal;
    color: #FFFFFF;
    padding: 4px;
}
.provider-logo{
    width: 95%;
    height: 7em;
    margin-top: 2%;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* justify-content: center; */
    width: 80%;
    height: 10em;
    margin: auto;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.0588235294117647);
}
.nav-header{
    font-family: 'Raleway Bold', 'Raleway', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    color: #304858;
}
.nav-title{
    align-items: flex-start;
    justify-content: center;
    display: flex;
    margin-left: 4%;
}
.nav-links{
    display: flex;
    flex-direction: row;
    margin-left: 26%;
    align-items: end;
    /* text-align: center; */
    justify-content: space-evenly;
    width: 25%;
    margin-bottom: 1.5%;
}
.nav-link{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 15px;
    color: #616161;
    text-align: left;
    line-height: 18px;
}
.nav-profile{
    display: flex;
    flex-direction: row;
    margin-top: 1.8em;
    width: 30em;
    justify-content: right;
    margin-right: 130px;
}
.nav-profile-icons{
    margin:2%;
    margin-right: 4%;
}
.nav-profile-icon{
    height: 1.4em;
    width: 1.4em;
    justify-content: center;
    align-items: center;
    display: flex;
}
.nav-profile-user{
    display: flex;
    flex-direction: column;
    align-items: center;
 
}
.nav-profile-name{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #616161;
    text-align: left;
    margin-top: 0.7em;
    line-height: 17px;
}
#view-profile{
    border:none;
    font-family: 'Raleway SemiBold', 'Raleway', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 12px;
    color: #3A3A3A;
    /* text-align: left; */
    line-height: 18px;
}
  