<app-nav-bar></app-nav-bar>
<body style="    min-height: 65vh;
display: flex;
flex-direction: column;
margin: auto;
width: 100%;">
<main>

  <div class="water-bills-container">
    <h2 class="water-bills-heading" style="    text-align: center;">Users</h2>
    <div class="water-bills-section">
      <table class="water-bills-table" *ngIf="allUsers.length > 0">
        <thead>
          <tr style="    width: 15%;
          text-align: center;
          margin-right: 5px;
          /* border: 5px; */
          background-color: #f5f5f5;
          border-bottom: ridge;">
            <th>User ID</th>
            <th>Email</th>
            <th>Password</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of allUsers;">
            <td>{{user.id}} </td>
            <td>{{user.email}} </td>
            <td>{{user.password}} </td>
            <td>{{user.firstName}} </td>
            <td>{{user.lastName}} </td>
            <td>{{user.telephoneNo}} </td>
            <td>{{user.address}} </td>
            <td><button (click)="openDialog('user',user)" class="pay-now-button">Edit</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div style="    display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5%;
  width: 100%;">
  <div class="unitsList" *ngIf="waterUnitPrice > 0">
    <h2 class="water-bills-heading">Unit Prices</h2>
    <ul  style="list-style: none;">
        <li >Price of Water Units: <input class="listUnit" type="text" [value]="waterUnitPrice">/Liter <button (click)="openDialog('waterUnits')">Edit</button> </li>
        <li >Price of Electric Units: <input class="listUnit" type="text" [value]="electricUnitPrice">/Kilowatts <button (click)="openDialog('electricUnits')">Edit</button></li>
        <li >Price of Telephone Units: <input class="listUnit" type="text" [value]="telephoneUnitPrice">/Minute<button (click)="openDialog('telephoneUnits')">Edit</button> </li>
    </ul>
  </div>
  <div class="popup" *ngIf="showDialog">
    <div class="popup-overlay"></div>
    <div class="popup-dialog">
        <div class="popup-header">
            <button class="close-button" (click)="closeDialog()">X</button>
        </div>
        <div *ngIf="userToEdit==null" class="popup-body">
            <div class="dialogLine"><label class="unitLabel" for="unit" [innerText]="dialogOpened+':'"> </label>  <input id="unit" type="text" [(ngModel)]="inputValue" value="{{inputValue}}"> </div>
            <button (click)="unitChanged(inputValue)">Save</button>
        </div>
        <div *ngIf="userToEdit!=null" class="popup-body">
            <div style="width: 100%;">
            <div class="dialogLine" style="justify-content: flex-start;"><label class="unitLabel" for="unit" [innerText]="'ID:'"> </label>  <input disabled id="unit" type="text" [(ngModel)]="userToEdit.id" value="{{userToEdit.id}}"> </div>
            <div class="dialogLine" style="justify-content: flex-start;"><label class="unitLabel" for="unit" [innerText]="'Email:'"> </label>  <input id="unit" type="text" [(ngModel)]="userToEdit.email" value="{{userToEdit.email}}"> </div>
            <div class="dialogLine" style="justify-content: flex-start;"><label class="unitLabel" for="unit" [innerText]="'Password:'"> </label>  <input id="unit" type="text" [(ngModel)]="userToEdit.password" value="{{userToEdit.password}}"> </div>
            <div class="dialogLine" style="justify-content: flex-start;"><label class="unitLabel" for="unit" [innerText]="'First Name:'"> </label>  <input id="unit" type="text" [(ngModel)]="userToEdit.firstName" value="{{userToEdit.firstName}}"> </div>
            <div class="dialogLine" style="justify-content: flex-start;"><label class="unitLabel" for="unit" [innerText]="'Last Name:'"> </label>  <input id="unit" type="text" [(ngModel)]="userToEdit.lastName" value="{{userToEdit.lastName}}"> </div>
            <div class="dialogLine" style="justify-content: flex-start;"><label class="unitLabel" for="unit" [innerText]="'Phone Number:'"> </label>  <input id="unit" type="text" [(ngModel)]="userToEdit.telephoneNo" value="{{userToEdit.telephoneNo}}"> </div>
            <div class="dialogLine" style="justify-content: flex-start;"><label class="unitLabel" for="unit" [innerText]="'Address:'"> </label>  <input id="unit" type="text" [(ngModel)]="userToEdit.address" value="{{userToEdit.address}}"> </div>
        </div>

            <button *ngIf="userToEdit==null" (click)="unitChanged(inputValue)">Save</button>
            <button *ngIf="userToEdit!=null" style="    align-self: flex-end; padding: 7px 10px;" (click)="userChanged()">Save</button>
        </div>
    </div>
  </div>
  <div style="width: 300px;">
    <h2 class="water-bills-heading">Promo Codes</h2>
    <div class="promos">
      <ul style="list-style: none;">
        <li *ngFor="let code of promoCodes" style="font-size: large;font-family: serif;margin-top: 4px;"><label for="promoCode" [innerText]="'Code:'"></label>{{code.code}} <label style="margin-left:2%" for="promoValue" [innerText]="'Value:'"></label>{{code.value|currency:'EGP':'code'}} <button style="background: #cb2d2df2;" (click)="deletePromoCode(code)">Delete</button> </li>
        <li style="margin-top:3%"> <input class="promoInput" type="text" placeholder="Code" [(ngModel)]="promoCode" [value]="promoCode"> <input class="promoInput" type="text" placeholder="Value" [(ngModel)]="promoValue" [value]="promoValue"> <button (click)="addPromoCode(promoCode,promoValue)">Add Promo Code</button></li>
      </ul>
    </div>
  </div>
</div>
</main>
</body>
<footer style="margin-top:auto">
  <app-footer></app-footer>
</footer>

