<nav class="nav"> 
  <div class="nav-title">
      <a routerLink="/home" routerLinkActive="active" style="text-decoration: none;"><h1 class="nav-header">E-PAY</h1> </a>
  </div>
  <div class="nav-profile">
      <a class="nav-profile-icons" >
          <img class="nav-profile-icon" src="../../assets/images/shopping-cart-128 (1).png"/>
      </a>
      <a class="nav-profile-icons" >
          <img class="nav-profile-icon" src="../../assets/images/email.png">
      </a>
      <div style="display: flex;
      margin: 2%;
      margin-right: 1%;">
          <img class="nav-profile-icon" src="../../assets/images/profile.png">
      </div>
      <div class="nav-profile-user">
       <p class="nav-profile-name">
              {{loggedUser.firstName}} {{loggedUser.lastName}}
       </p>
      <select name="view-profile" id="view-profile" (change)="logout()">
        <option value="" disabled selected hidden>View Profile</option>
        <option value="View Info">View Info</option>
        <option value="Settings">Settings</option>
        <option value="Logout" >Logout</option>
      </select>
      
      </div>
  </div>
</nav>
<body style="    min-height: 65vh;
display: flex;
flex-direction: column;
margin: auto;
width: 100%;">
<main>

  <div class="water-bills-container">
    <h2 class="water-bills-heading" style="text-align: center;">Users</h2>
    <div class="water-bills-section">
      <table class="water-bills-table" *ngIf="allUsers.length > 0">
        <thead>
          <tr style="    width: 15%;
          text-align: center;
          margin-right: 5px;
          /* border: 5px; */
          background-color: #f5f5f5;
          border-bottom: ridge;">
            <th>User ID</th>
            <th>Email</th>
            <th>Password</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>Edit</th>
            <th>View Bills</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of allUsers;">
            <ng-container *ngIf="user.admin==null">
            <td>{{user.id}} </td>
            <td>{{user.email}} </td>
            <td>{{user.password}} </td>
            <td>{{user.firstName}} </td>
            <td>{{user.lastName}} </td>
            <td>{{user.telephoneNo}} </td>
            <td>{{user.address}} </td>
            <td><button (click)="openDialog('user',user)" class="pay-now-button">Edit</button></td>
            <td><button (click)="openDialog('bills',user)" class="pay-now-button" style="background-color: green;">Bills</button></td>
          </ng-container>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div style="    display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5%;
  width: 100%;">
  <div class="unitsList" *ngIf="waterUnitPrice > 0">
    <h2 class="water-bills-heading">Unit Prices</h2>
    <ul  style="list-style: none;">
        <li >Price of Water Units: <input class="listUnit" disabled type="text" [value]="waterUnitPrice">/Liter <button (click)="openDialog('waterUnits')">Edit</button> </li>
        <li >Price of Electric Units: <input class="listUnit" disabled type="text" [value]="electricUnitPrice">/Kilowatts <button (click)="openDialog('electricUnits')">Edit</button></li>
        <li >Price of Telephone Units: <input class="listUnit" disabled type="text" [value]="telephoneUnitPrice">/Minute<button (click)="openDialog('telephoneUnits')">Edit</button> </li>
    </ul>
  </div>
  <div class="popup" *ngIf="showDialog">
    <div class="popup-overlay"></div>
    <div class="popup-dialog">
        <div class="popup-header">
            <button class="close-button" (click)="closeDialog()">X</button>
        </div>
        <div *ngIf="userToEdit==null&&userToViewBills==null" class="popup-body">
            <div class="dialogLine"><label class="unitLabel" for="unit" [innerText]="dialogOpened+':'"> </label>  <input id="unit" type="text" [(ngModel)]="inputValue" value="{{inputValue}}"> </div>
            <button (click)="unitChanged(inputValue)">Save</button>
        </div>
        <div *ngIf="userToEdit!=null&&userToViewBills==null" class="popup-body">
            <div style="width: 100%;">
            <div class="dialogLine" style="justify-content: flex-start;"><label class="unitLabel" for="unit" [innerText]="'ID:'"> </label>  <input disabled id="unit" type="text" [(ngModel)]="userToEdit.id" value="{{userToEdit.id}}"> </div>
            <div class="dialogLine" style="justify-content: flex-start;"><label class="unitLabel" for="unit" [innerText]="'Email:'"> </label>  <input id="unit" type="text" [(ngModel)]="userToEdit.email" value="{{userToEdit.email}}"> </div>
            <div class="dialogLine" style="justify-content: flex-start;"><label class="unitLabel" for="unit" [innerText]="'Password:'"> </label>  <input id="unit" type="text" [(ngModel)]="userToEdit.password" value="{{userToEdit.password}}"> </div>
            <div class="dialogLine" style="justify-content: flex-start;"><label class="unitLabel" for="unit" [innerText]="'First Name:'"> </label>  <input id="unit" type="text" [(ngModel)]="userToEdit.firstName" value="{{userToEdit.firstName}}"> </div>
            <div class="dialogLine" style="justify-content: flex-start;"><label class="unitLabel" for="unit" [innerText]="'Last Name:'"> </label>  <input id="unit" type="text" [(ngModel)]="userToEdit.lastName" value="{{userToEdit.lastName}}"> </div>
            <div class="dialogLine" style="justify-content: flex-start;"><label class="unitLabel" for="unit" [innerText]="'Phone Number:'"> </label>  <input id="unit" type="text" [(ngModel)]="userToEdit.telephoneNo" value="{{userToEdit.telephoneNo}}"> </div>
            <div class="dialogLine" style="justify-content: flex-start;"><label class="unitLabel" for="unit" [innerText]="'Address:'"> </label>  <input id="unit" type="text" [(ngModel)]="userToEdit.address" value="{{userToEdit.address}}"> </div>
           </div>

            <button *ngIf="userToEdit==null" (click)="unitChanged(inputValue)">Save</button>
            <button *ngIf="userToEdit!=null" style="    align-self: flex-end; padding: 7px 10px;" (click)="userChanged()">Save</button>
        </div>
        <div *ngIf="userToViewBills!=null" class="popup-body">
          <div *ngFor="let bill of userBills" style="align-self: flex-start;margin:5px">
            <ul style="list-style: none;">
              <li style="font-weight: bold;"><label class="unitLabel" [innerText]="'ID:'"></label>{{bill.id}}<button style="background: #cb2d2df2;padding: 3px 3px;font-size: 13px;border-radius: 5px;margin-bottom: 3%;" (click)="deleteBill(bill)">Delete</button></li>
              <li><label class="unitLabel" [innerText]="'Bill Type:'"></label>{{bill.type}}</li>
              <li><label class="unitLabel" [innerText]="'Bill Status:'"></label>{{bill.status}}</li>
              <li ><label class="unitLabel" [innerText]="'Bill Number:'"></label>{{bill.billNum}}</li>
              <li><label class="unitLabel" [innerText]="'Bill Units:'"></label>{{bill.units}}</li>
              <li><label class="unitLabel" [innerText]="'Due Date:'"></label>{{bill.dueDate}}</li>
              <br>
            </ul>
          </div>
          <div style="align-self: flex-start;">
            <form #bill="ngForm" [formGroup]="billForm"  style="margin-top: 10%;" (ngSubmit)="addBill(bill.value)" style="    margin-top: 10%;line-height: 30px; display: flex; flex-direction: column;">
              <div><label class="unitLabel" [innerText]="'Bill Number:'"></label><input type="number" formControlName="billNum" placeholder="Bill Number" style="width: 40%;height: 2em;text-align: center; margin-right: 5px; border: none; background-color: #f5f5f5; border-bottom: ridge;"></div>
              <div><label class="unitLabel" [innerText]="'Bill Units:'"></label><input  type="number" formControlName="billUnits" placeholder="Bill Units" style="width: 40%;height: 2em;text-align: center; margin-right: 5px; border: none; background-color: #f5f5f5; border-bottom: ridge;">  </div>
              <div><label class="unitLabel" [innerText]="'Bill Due Date:'"></label><input  type="text" formControlName="dueDate" placeholder="Due Date" style="width: 40%;height: 2em;text-align: center; margin-right: 5px; border: none; background-color: #f5f5f5; border-bottom: ridge;">  </div>
              <div><label class="unitLabel" [innerText]="'Bill Type:'"></label><select formControlName="billType" style="width: 40%;height: 1.5em;text-align: center; margin-right: 5px;border: none; background-color: #f5f5f5;border-bottom: ridge;">
                <option value="Electric Bill">Electric Bill</option>
                  <option value="Water Bill">Water Bill</option>
                  <option value="Telephone Bill">Telephone Bill</option>
              </select></div>
              <button type="submit" style="width: 27%;height: 1.5em; align-self: flex-start;margin-left: 0;padding: 2px 2px;font-size: 15px;">Add Bill</button> 
            </form>
          </div>
          <button (click)="closeDialog()">Save</button>
      </div>
    </div>
  </div>
  <div style="width: 300px;">
    <h2 class="water-bills-heading">Promo Codes</h2>
    <div class="promos">
      <ul style="list-style: none;">
        <li *ngFor="let code of promoCodes" style="font-size: large;font-family: serif;margin-top: 4px;"><label for="promoCode" [innerText]="'Code:'"></label>{{code.code}} <label style="margin-left:2%" for="promoValue" [innerText]="'Value:'"></label>{{code.value|currency:'EGP':'code'}} <button style="background: #cb2d2df2;" (click)="deletePromoCode(code)">Delete</button> </li>
        <li style="margin-top:3%"> <input class="promoInput" type="text" placeholder="Code" [(ngModel)]="promoCode" [value]="promoCode"> <input class="promoInput" type="text" placeholder="Value" [(ngModel)]="promoValue" [value]="promoValue"> <button (click)="addPromoCode(promoCode,promoValue)">Add Promo Code</button></li>
      </ul>
    </div>
  </div>
</div>
<div>
  <div>
    <h2 class="water-bills-heading" style="text-align: center;">Service Providers</h2>
  </div>
  <div class="service-providers">
    <div class="provider">
      <div class="provider-header"><h4>Vodafone</h4><img class="provider-logo" src="../../assets/images/vodafone.png"></div>
      <button (click)="openProvider('Vodafone')" >View Offers</button>
    </div>
    <div class="provider">
      <div class="provider-header"><h4>Etisalat</h4><img  class="provider-logo" src="../../assets/images/etisalat.png"></div>
      <button (click)="openProvider('Etisalat')" >View Offers</button>
    </div>
    <div class="provider">
      <div class="provider-header"><h4>Orange</h4><img  class="provider-logo" src="../../assets/images/orange.png"></div>
      <button (click)="openProvider('Orange')" >View Offers</button>
    </div>
  </div>
</div>
<div class="popup" *ngIf="showProviderDialog">
  <div class="popup-overlay"></div>
  <div class="popup-dialog">
      <div class="popup-header">
          <button class="close-button" (click)="closeDialog()">X</button>
      </div>
      <div class="popup-body" style="align-items:unset">
        <div *ngFor="let offer of allOffers" >
          <ng-container *ngIf="offer.provider==currentProvider" >
          <div style="align-self: flex-start;">
          <ul   style="list-style: none;">
            <li style="font-weight: bold;"><label class="unitLabel" [innerText]="'ID:'"></label>{{offer.id}}<button style="background: #cb2d2df2;padding: 3px 3px;font-size: 13px;border-radius: 5px;margin-bottom: 3%;" (click)="deleteOffer(offer)">Delete</button></li>
            <li><label class="unitLabel" [innerText]="'Plan:'"></label>{{offer.plan}}</li>
            <li ><label class="unitLabel" [innerText]="'Total Units:'"></label>{{offer.totalUnits}}</li>
            <li><label class="unitLabel" [innerText]="'Price:'"></label>{{offer.price|currency:'EGP':'code'}}</li>
            <br>
          </ul>            
        </div>
        </ng-container>
        </div>
        <div style="align-self: flex-start;">
          <form #offer="ngForm" [formGroup]="offerForm" class="offerForm" style="margin-top: 10%;" (ngSubmit)="addOffer(offer.value)" style="margin-top: 10%;line-height: 30px; display: flex; flex-direction: column;">
            <div><label class="unitLabel" [innerText]="'Plan:'"></label><input type="text" formControlName="offerPlan" placeholder="Plan" style="width: 40%;height: 2em;text-align: center; margin-right: 5px; border: none; background-color: #f5f5f5; border-bottom: ridge;"></div>
            <div><label class="unitLabel" [innerText]="'Total Units:'"></label><input  type="number" formControlName="totalUnits" placeholder="Total Units" style="width: 40%;height: 2em;text-align: center; margin-right: 5px; border: none; background-color: #f5f5f5; border-bottom: ridge;">  </div>
            <div><label class="unitLabel" [innerText]="'Price:'"></label><input  type="number" formControlName="price" placeholder="Price" style="width: 40%;height: 2em;text-align: center; margin-right: 5px; border: none; background-color: #f5f5f5; border-bottom: ridge;">  </div>
            <!-- <div><label class="unitLabel" [innerText]="'Bill Type:'"></label><select formControlName="billType" style="width: 40%;height: 1.5em;text-align: center; margin-right: 5px;border: none; background-color: #f5f5f5;border-bottom: ridge;">
              <option value="electricBills">Electric Bill</option>
                <option value="waterBills">Water Bill</option>
                <option value="telephoneBills">Telephone Bill</option>
            </select></div> -->
            <button type="submit" style="    width: 33%;
            height: 1.5em;
            align-self: flex-start;
            margin-left: 0;
            padding: 3px 3px;
            font-size: 16px;">Add Offer</button> 
          </form>
        </div>
        <button (click)="closeDialog()" style="align-self: center;">Save</button>
      </div>
  </div>
</div>
</main>
</body>
<footer style="margin-top:auto">
  <app-footer></app-footer>
</footer>

