<app-nav-bar></app-nav-bar>
<main>

  <div class="water-bills-container">
    <h2 class="water-bills-heading">Users</h2>
    <div class="water-bills-section">
      <table class="water-bills-table" *ngIf="allUsers.length > 0">
        <thead>
          <tr>
            <th>User ID</th>
            <th>Email</th>
            <th>Password</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
            <th>Address</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of allUsers;">
            <!-- <td>{{pendingBill.billNum}}</td>
            <td>{{pendingBill.billUnits}} Liters</td>
            <td>{{pendingBill.billUnits * unitPrice}}</td>
            <td>{{pendingBill.dueDate}}</td>
            <td>{{pendingBill.billUnits * unitPrice*(1.5)}}</td>
            <td><button (click)="addToCart(pendingBill)" class="pay-now-button">Pay Now</button></td> -->
            <td>{{user.id}} </td>
            <td>{{user.email}} </td>
            <td>{{user.password}} </td>
            <td>{{user.firstName}} </td>
            <td>{{user.lastName}} </td>
            <td>{{user.telephoneNo}} </td>
            <td>{{user.address}} </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="waterUnitPrice > 0">
    <ul style="list-style: none;">
        <li style="margin-bottom: 2%;">Price of Water Units: <input class="listUnit" type="text" [value]="waterUnitPrice">/Liter </li>
        <li style="margin-bottom: 2%;">Price of Electric Units: <input class="listUnit" type="text" [value]="electricUnitPrice">/Kilowatts </li>
        <li style="margin-bottom: 2%;">Price of Telephone Units: <input class="listUnit" type="text" [value]="telephoneUnitPrice">/Minute </li>

    </ul>
  </div>
</main>
<app-footer></app-footer>
