<nav class="nav"> 
    <div class="nav-title">
        <h1 class="nav-header">E-PAY</h1>
    </div>
    <div class="nav-links">
        <span><a href="" class="nav-link">Electricity</a></span> <span> <a href="" class="nav-link">Water</a> </span>  <span><a href="" class="nav-link">Telephone</a></span>
    </div>
    <div class="nav-profile">

        <a class="nav-profile-icons" href="">
            <img class="nav-profile-icon" src="../../assets/images/email.png"/>
        </a>
        <a class="nav-profile-icons" href="">
            <img class="nav-profile-icon" src="../../assets/images/notification.png">
        </a>
        <div style="display: flex;
        margin: 2%;
        margin-right: 1%;">
            <img class="nav-profile-icon" src="../../assets/images/profile.png">
        </div>
        <div class="nav-profile-user">
         <p class="nav-profile-name">
                Tarek ElShawaf
         </p>
        <select name="view-profile" id="view-profile">
          <option value="" disabled selected hidden>View Profile</option>
          <option value="View Info">View Info</option>
          <option value="Settings">Settings</option>
          <option value="Logout">Logout</option>
        </select>
        
        </div>
    </div>
</nav>