<app-nav-bar></app-nav-bar>
<main>

  <div class="water-bills-container">
    <h2 class="water-bills-heading">Water Bills</h2>
    <div class="water-bills-section">
      <h3 class="water-bills-section-heading">Pending Bills</h3>
      <table class="water-bills-table">
        <thead>
          <tr>
            <th>Bill Number</th>
            <th>Amount</th>
            <th>Due Date</th>
            <th>Pay Now</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pendingBill of pendingBills;">
            <td>{{pendingBill.billNum}}</td>
            <td>{{pendingBill.billAmount}}</td>
            <td>{{pendingBill.dueDate}}</td>
            <td><button class="pay-now-button">Pay Now</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="water-bills-section">
      <h3 class="water-bills-section-heading">Paid Bills</h3>
      <table class="water-bills-table">
        <thead>
          <tr>
            <th>Bill Number</th>
            <th>Amount</th>
            <th>Paid On</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let paidBill of paidBills;">
            <td>{{paidBill.billNum}}</td>
            <td>{{paidBill.billAmount}}</td>
            <td>{{paidBill.dueDate}}</td>
            <td><button (click)="deleteBill(paidBill.id)" class="delete-button">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
<app-footer></app-footer>
