








.stomach{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1%;
}
.main-title{
    width: 30em;
    align-items: center;
    display: flex;
}
.stomach-title{
    font-family: 'DO Futuristic', sans-serif;
    font-style: normal;
    font-size: 55px;
    line-height: 96px;
    text-align: center;
    margin-top: 24%;
}
.wallet-img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.belly{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 8%;
    margin-bottom: 8%;
}
.payments{
    background: rgba(46, 193, 172, 1);
    text-decoration: none;
    border-radius: 10px;
    width: 18em;
    height: 8em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.payment-title{
    display: flex;
    align-items: center;
}
.payment-icon{
    display: flex;
        align-items: center;
        justify-content: right;
        margin-left: 2%;
}
.payment-option{
    text-decoration: none;
    font-family: 'Raleway Bold', 'Raleway', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2em;
    color: #FFFFFF;
    line-height: 65px;
}
.payment-image{
    width: 5em;
    height: 5em;
}















