
<app-nav-bar></app-nav-bar>
<div class="stomach">
    <div class="main-title">
        <h1 class="stomach-title">ALL YOU CAN PAY IN ONE PLACE</h1>
    </div>
    <div class="wallet-img">
        <img src="../../assets/images/Wallet.png">
    </div>
</div>
<div class="belly">
    <div class="payments">
        <div class="payment-title"> <a class="payment-option" href="">Electricity</a>      </div>
        <div class="payment-icon"> <img class="payment-image" src="../../assets/images/bolt-256.png">       </div>
       
    </div>
    <div class="payments">
        <div class="payment-title"> <a class="payment-option" href="">Water</a>      </div>
        <div class="payment-icon"> <img class="payment-image" src="../../assets/images/droplet-256.png">      </div>
    
        
    </div>
    <div class="payments">
        <div class="payment-title">  <a class="payment-option" href="">Telephone</a>      </div>
        <div class="payment-icon">  <img class="payment-image" src="../../assets/images/phone-46-256.png">       </div>
       
   
    </div>
</div>
<app-footer></app-footer>