<app-nav-bar></app-nav-bar>

<div class="home">
    <div class="homecontent">
      <h2>OFFERS</h2>
      <p>choose your offer</p>
  </div>
  <div class="offers">
  <div class="imgs">
   <img src="../../assets/images/vodafone.png" alt="vodafonecard">
   <h3>35 OFFER</h3>
   <p>Total of :400 units</p>
   <h3>35 L.E</h3>
   <button>subscribe</button>
  </div>
  <div class="imgss">
   <img src="../../assets/images/etsilat.jpg" alt="etsilatcard">
   <h3>50 OFFER</h3>
   <p>Total of :750 unit5</p>
   <h3>50 L.E</h3>
   <button>subscribe</button>
  </div>
   </div>
    
    </div>





<app-footer></app-footer>