<app-nav-bar></app-nav-bar>

<div class="home">
  <div class="homecontent">
    <h2>OFFERS</h2>
    <p>choose your offer</p>
  </div>
  <div class="offers">
    <div *ngFor="let offer of offers" class="imgs">
      <img [src]="'../../assets/images/'+offer.provider.toLowerCase()+'.png'" alt="{{offer.provider}}card">
      <h3>{{offer.plan}}</h3>
      <p>Total of : {{offer.totalUnits}} units</p>
      <h3>{{offer.price}} L.E</h3>
      <button (click)="subscribe(offer)" [disabled]="offer.subscribed">Subscribe</button>
      <p *ngIf="offer.subscribed">Subscribed to {{offer.plan}}!</p>
    </div>
  </div>
</div>

<app-footer></app-footer>